html {
  scrollbar-width: thin;
  background-color: #252525;
  overflow-x: hidden;
}

body {
  color: #e0e0e0;
  font-family: Helvetica, sans-serif;
}

.game-title {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #e0e0e0;
}

.game-info {
  margin-left: 10px;
  grid-column: 2;
}

a.stream-link {
  color: #e0e0e0;
}

span.stream-view-count {
  grid-column: 2;
  text-align: right;
}

.hidden {
  display: none;
}

.stream-link-container {
  grid-column: 1;
}

.box-art-logo {
  grid-column: 1;
}

.stream-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin-top: 3px;
}

.game-container {
  display: grid;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 3px solid aqua;
  grid-template-columns: min-content 1fr;
  margin-right: 10px;
  width: 390px;
}

.game-container:last-child {
  border-bottom: 3px solid aqua;
}

.refresh-button {
  cursor: pointer;
  float: right;
  padding-bottom: 10px;
}

.dot {
  height: 14px;
  width: 14px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: #252525;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #404040;
  width: 200px;
  color: #e0e0e0;
  text-align: center;
  padding: 5px 3px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;

  /* LEFT */
  left: 75px;
  top: -25px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Loader from https://loading.io/css/ */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 3px;
  box-sizing: border-box;
  border: 15px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
