html,
body {
  background-color: black;
  color: white;
}
.dropdown-content {
  background-color: black;
}
.game-title {
  font-weight: bold;
  margin-top: 10px;
}
.game-category {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr min-content;
  border-top: 3px solid aqua;
}
.stream-link {
  color: white;
  grid-column: 1;
}

.stream-view-count {
  grid-column: 2;
}
.hidden {
  visibility: hidden;
}

/* Loader from https://loading.io/css/ */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
